apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      imagePullSecrets:
      - name: acr-creds
      containers:
      - name: hello-world
        image: caplucxcontainerregistry.azurecr.io/hello-world:4955e03ec57b2e9df62344606b067d818f136ac5
        ports:
        - containerPort: 80
